
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    outline: none;
}

:root {
    --primary: oklch(42.4% 0.199 265.638);
    --primary-foreground: oklch(96.7% 0.003 264.542);
    --secondary: oklch(86.9% 0.022 252.894);
    --secondary-foreground: oklch(14.7% 0.004 49.25);
    --destructive: oklch(44.4% 0.177 26.899);
    --destructive-foreground: oklch(97% 0.001 106.424);
    --background: oklch(96.8% 0.007 247.896);
    --border: oklch(87.2% 0.01 258.338);
    --muted: oklch(44.6% 0.03 256.802);
}

html, body {
    background-color: var(--background);
}

header {
    background: var(--primary);
    color: var(--primary-foreground);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    border-bottom: 1px solid var(--border);
}

header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

a {
    all: unset;
    text-decoration: none;
    cursor: pointer;
}

.logo {
    color: var(--primary-foreground);
    font-weight: bold;
    font-size: 24px;
    margin-left: 16px;
}

.logo > img {
    object-fit: contain;
    width: 80%;
    object-position: center;
    padding-top: 8px;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

nav > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px 8px 16px;
    border-bottom: 1px solid var(--border);
    background-color: var(--background);
    margin-right: 16px;
    font-size: 12px;
    color: var(--primary);
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

nav > div:last-child {
    display: flex;
    flex-direction: row;
    padding: 8px 16px 0 16px;
    gap: 16px;
}

nav > div:last-child > a {
    border-bottom: 4px solid transparent;
    padding: 8px 0 8px 0;
    transition: ease-in-out;
    transition-duration: 300ms;
}

nav > div:last-child > a:hover {
    border-bottom: 4px solid var(--border);
}





button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--primary-foreground);
    padding: 4px 8px 4px 8px;
    border-radius: 16px;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: auto;
    transition: ease-in-out;
    transition-duration: 50ms;
}

nav > div:last-child > button {
    width: 32px;
    height: 32px;
    border-radius: 32px;

}

button:hover {
    background-color: rgb(from var(--primary) r g b / 0.9);
}

button:active {
    transform: none !important;
    box-shadow: none !important;
}

button:focus {
    outline: none;
}

nav > div:last-child > div {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.dropdown-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0;
    right: 0;
    padding: 16px;
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    border: 1px solid var(--border);
    transition: ease-in-out;
    transition-duration: 100ms;
    border-radius: 16px;
    border: 1px solid var(--border);
    box-shadow: 0px 5px 20px black;
    z-index: 9999;
}

.active {
    visibility: visible;
    opacity: 100%;
    top: 36px;
}

.dropdown-menu > input {
    display: flex;
    flex: 1;
    width: auto;
    padding: 4px 8px 4px 8px;
    border-radius: 16px;
    height: 32px;
    
}

.dropdown-menu > button {
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

nav > div:last-child > div > button {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    border-radius: 32px;
    width: 28px;
    height: 28px;
    padding: 4px;
    aspect-ratio: 1 / 1;
}

section {
    position: relative;
    background-image: url('assets/hero-bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

section > div:first-child {
    color: var(--primary-foreground);
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}

section > div:first-child a {
    background-color: var(--primary);
    color: var(--primary-foreground);
    padding: 8px 16px;
    display: inline-block;
    margin: 8px 0;
    border-radius: 32px;
}

section > div:last-child {
    overflow: hidden;
}

section > div:last-child img {
    position: absolute;
    left: 50%;
    transform: translateX(12.5%);
    width: auto;
    max-width: 40vw;
    top: 50%;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    gap: 24px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;
    margin-left: 10%;
    margin-right: 10%;
}

.about > h2 {
    color: var(--primary);
}

.about > p {
    color: var(--muted);
}

.about > a {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    display: inline-block;
    width: auto;
    margin-right: auto;
    padding: 8px 16px;
    border-radius: 32px;
}

input {
    outline: none;
    border: 0;
}

.subs {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--secondary);
}

.subs > p {
    text-align: center;
    color: var(--secondary-foreground);
}

.subs > h2 {
    text-align: center;
    color: var(--primary);
}

.subs > form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    background-color: white;
    border-radius: 24px;
    width: 50%;
    margin: auto;
}


.subs > form > input {
    width: 100%;
    flex: 1;
    display: flex;
    height: 100%;
    padding: 8px 16px 8px;
    margin-left: 16px;
    font-size: 18px;
}


.subs > form > button {
    display: flex;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    height: 24px;
    width: 128px;
    padding: 8px 16px 8px;
}


footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--primary);
    color: var(--primary-foreground);
    border-top: 1px solid var(--border);
    padding: 2% 10% 2% 10%;
}

footer > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

footer > div:first-child > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    flex: 1;
    flex-basis: 1/3;
    padding: 4px;
}

footer > div:first-child > div > svg {
    margin-bottom: 16px;
}

hr {
    border: 1px solid var(--border);
}

footer > p {
    text-align: center;
}


.alert-message {
    position: fixed;
    display: flex;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: rgb(from var(--background) r g b / 0.3);
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
    transition: ease-in-out;
    transition-duration: 100ms;
}

.message-active {
    visibility: visible;
    opacity: 100%;
}

.alert-message > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border: 1px solid var(--border);
    border-radius: 16px;
    background-color: white;
    width: 50%;
    height: auto;
}

.alert-message > div > label {
    color: var(--primary);
    font-size: 18px;
    font-weight: bold;
}

.alert-message > div > button {
    background-color: var(--destructive);
    color: var(--destructive-foreground);
    height: auto;
}